<!DOCTYPE html>
<html>
    <head>
        <title>Score Submission</title>
    </head>
    <body>
        <form method="POST">
            <label for="game">Enter Game:</label>
            <select id="game" name="game">
                <option value="button">Button Masher</option>
                <option value="timing">Good Timing</option>
            </select><br/>
            <label>Enter Username:</label>
            <input type="text" name="username" placeholder="Enter your username" required><br/>
            <label>Enter Score:</label>
            <input type="text" name="score" placeholder="Enter your score" required><br/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
